<tr>
  <td></td>
  <td>
    <div class="row">
      <div class="media-library-image-row col-xs-4 col-sm-2">
        <% attachment_or_placeholder_url = media_item.attachment.exists? ? media_item.attachment.url(:medium) : 'https://placeholdit.imgix.net/~text?w=600&h=400' %>
        <%= link_to edit_media_item_path(media_item), class: 'media-library-link media-library-link--list' do %>
          <%= content_tag :div, '', class: 'media-library-image img-rounded', style: "background-image: url(#{image_url attachment_or_placeholder_url})" %>
        <% end %>
      </div>
      <div class="col-sm-8">
        <%= link_to media_item.title.presence || media_item.slug, edit_media_item_path(media_item) %>
        <br>
        <%= media_item.attachment_file_name %>
      </div>
    </div>
  </td>
  <td><%= media_item.created_at.to_formatted_s(:short) %></td>
</tr>
