<!DOCTYPE html>
<html class="<%= @html_classes %> public">
  <head>
    <%= render 'layouts/shared_head' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'admin/navigation' if show_admin_navigation? %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
